<!doctype html>
<html lang="en-GB">
  <head>
    {% include head.html %}
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
  </head>
  <body>

    <header>
      {% include navigation.html %}
      <h1>{{ page.title }}</h1>
      <p>{{ page.description }}</p>
    </header>

    <main>

      {{ content }}

    </main>

    <footer>
      <p>Official Blog for <a href="https://misnina.com">misnina</a> (Nina)</p>
      <a href="http://blog.misnina.com/feed.xml"><img src="../assets/images/valid-rss.png" alt="[Valid RSS]" title="misnina's blog's RSS feed" /></a> 
      <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
      <script>
      kofiWidgetOverlay.draw('misnina', {
        'type': 'floating-chat',
        'floating-chat.donateButton.text': 'Tip',
        'floating-chat.donateButton.background-color': '#fcbf47',
        'floating-chat.donateButton.text-color': '#323842'
      });
      </script>
    </footer>

  </body>
</html>